.section.landing{
    width:calc(100% - 32px);
    min-height:calc(100% - 96px);
    position: relative;
    top:0;
    left:0;
    color:black;
    background: white;
    visibility: hidden;
    opacity: 1;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: row;
    margin-left:32px;
    margin-top:48px;

    .content-left{
        width:320px;

        .title{
            font-size: 3.375rem;
            line-height: 4rem; 
        }
        p{
            strong,b{
               color: #0F62FE;
            }
        }
    }


}





