.section.atlas{
    background-color: grey;
    width:50vw;
    max-width:650px;
    height: 50vw;
    max-height:650px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}





